@model Product

<h1>Restore</h1>

<form method="Post" enctype="multipart/form-data">
    <input  type="hidden"  value="CoverPhoto"/>
    <input class="btn btn-outline-danger" type="submit" value="Restore" />
</form>